<div class="container">
  <div class="top-bar">
    <div class="control-btns">
      <div class="back arrow">
          <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
      <div class="foward arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="user-bar">
      <div class="user-btn">
      <img src="../../../assets/pp (1).jpg" class="user-image">
        <span class="user-name">Sávio S. Araújo</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
  <div class="saudation">
    <span>
      Bom dia
    </span>
  </div>
  <div class="emphasis-container">
    <div *ngFor="let box of emphasis" class="emphasis">
      <img class="empashis-image" src={{box.urlImg}}>
      <div class="title-emphasis">
        {{box.name}}
      </div>
      <div class="play-box">
        <div class="btn-radius">
          <mat-icon class="btn-play">play_arrow</mat-icon>
        </div>
      </div>
    </div>
  </div>
    <div class="playlists-container" *ngFor="let playlist of playlists">
      <div class="playlists-title">
        {{playlist.title}}
      </div>
      <div class="playlists-row">
        <div class="playlist-box" *ngFor="let item of playlist.items" >
          <img class="playlist-image" src={{item.urlIgm}}>
          <div class="playlist-info">
            <div class="playlist-title">
              {{item.playlistTitle}}
            </div>
            <div class="playlist-description">
              {{item.playlistDescription}}
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="playlists-container" *ngFor="let playlist of playlists">
          <div class="playlists-title">
            {{playlist.title}}
          </div>
          <div class="playlists-row">
            <div class="playlist-box" *ngFor="let item of playlist.items">
              <img class="playlist-image" src={{item.urlIgm}}>
              <div class="playlist-info">
                <div class="playlist-title">
                  {{item.playlistTitle}}
                </div>
                <div class="playlist-description">
                  {{item.playlistDescription}}
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

