<div class="container">
  <div class="top-bar">
    <div class="control-btns">
      <div class="back arrow">
          <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
      <div class="foward arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="user-bar">
      <div class="user-btn">
      <img src="../../../assets/pp (1).jpg" class="user-image">
        <span>Sávio S. Araújo</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </div>
  <div class="saudation">
    <span>
      Bom dia
    </span>
  </div>
</div>

