<div class="hide-bar-info">
  Kiss: Rock and roll all nite
</div>
<div class="container" #resizeBar >
  <div class="music-info i-left i-hideable">
    <img class="music-image" src="https://i.scdn.co/image/ab67616d000048514384b6976cadaec272114022">
    <div class="meta-music">
      <div class="music-title">
        Rock and roll all nite
      </div>
      <div class="music-artist">
        Kiss
      </div>
    </div>
    <div class="gadgets">
      <mat-icon class="gadget-btn">favorite_border</mat-icon>
      <mat-icon class="gadget-btn"> screen_share</mat-icon>
    </div>
  </div>
  <div class="music-info i-center ">
    <div class="control-plaiyng">
      <mat-icon class="shuffle small">shuffle</mat-icon>
      <mat-icon class="back medium">arrow_left</mat-icon>
      <mat-icon class="pause medium play-pause">pause_circle_filled</mat-icon>
      <mat-icon class="foward medium">arrow_right</mat-icon>
      <mat-icon class="repeat small">repeat</mat-icon>
      <mat-icon class="small gadget-btn2 sound-hide">volume_up</mat-icon>
    </div>
    <div class="control-progress">
        <div class="initial time">00:00</div>
        <div class="progress-background">
          <div class="progress">
          </div>
        </div>
        <div class="final time">00:00</div>

    </div>
  </div>
  <div class="music-info i-right i-hideable">
    <mat-icon class="small gadget-btn2">queue_music</mat-icon>
    <mat-icon class="small gadget-btn2">list</mat-icon>
    <mat-icon class="small gadget-btn2">cast</mat-icon>
    <div class="volume-settings">
      <mat-icon class="small gadget-btn2">volume_up</mat-icon>
        <div class="volume-progress-background">
          <div class=".volume-progress">
          </div>
        </div>
    </div>
  </div>
</div>
